packaging_format = 2

id = "grr"
name = "Grr"
description.en = "Tool for booking meeting rooms or other resources"
description.fr = "Outil de réservation de salles de réunion ou d'autres ressources"

version = "4.4.0~ynh1"

maintainers = ["Sébastien Menentrier"]

[upstream]
license = "AGPL-3.0-only"
website = "https://site.devome.com/fr/grr3"
demo = ""
admindoc = "https://site.devome.com/fr/grr/telechargement/category/2-informations-documentations"
userdoc = "https://site.devome.com/fr/grr/telechargement/category/2-informations-documentations"
code = "https://github.com/JeromeDevome/GRR"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/grr"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    help.en = "A public tool means that anybody will be able to visualize public booked resources."
    help.fr = "Un outil public signifie que n'importe qui pourra visualiser les réservation public de ressources"
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/JeromeDevome/GRR/archive/refs/tags/v4.4.0.tar.gz"
        sha256 = "da9dc940ad020e4245133b2a0163f13cd9d7bc24f35045fb1e92c626d4652506"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.2-ldap, php8.2-gd, php8.2-mbstring, php8.2-mysqli, php8.2-mysqlnd, php8.2-xml, php8.2-intl"

    [resources.database]
    type = "mysql"
