packaging_format = 2

id = "grr"
name = "Grr"
description.en = "Tool for booking meeting rooms or other resources"
description.fr = "Outil de réservation de salles de réunion ou d'autres ressources"

version = "4.5.1~ynh1"

maintainers = ["Sébastien Menentrier"]

[upstream]
license = "AGPL-3.0-only"
website = "https://site.devome.com/fr/grr3"
admindoc = "https://site.devome.com/fr/grr/telechargement/category/2-informations-documentations"
userdoc = "https://site.devome.com/fr/grr/telechargement/category/2-informations-documentations"
code = "https://github.com/JeromeDevome/GRR"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/grr"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/JeromeDevome/GRR/archive/refs/tags/v4.5.1.tar.gz"
        sha256 = "34bf9ee73730692f6b0ca479d9f1f70abed4f0cd7ed24a713d8fda6e38cdbf72"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.4-ldap, php8.4-gd, php8.4-mbstring, php8.4-mysqli, php8.4-mysqlnd, php8.4-xml, php8.4-intl"

    [resources.database]
    type = "mysql"
